@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Public Sans', sans-serif;
  }
}
@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(90deg, #31cf72 4.85%, #2cbac7 100%);
  }
  .border-custom-gradient {
    background: linear-gradient(90deg, #36cb6d 0%, #29b8c8 100%);
  }
  .badge-custom-gradient {
    background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  }
  .absolute-hero {
    position: absolute;
    left: 5.71%;
    right: 0.01%;
    top: -49.86%;
    bottom: 11.3%;
  }
}
